.map-container{
    margin-top: 90px;
    margin-left: 18px;
    margin-right: 18px;
    width: 97%;
    height: 800px;
    background: #E5E5E5;
    display: flex;
    flex-direction: row;
    border: 4px solid black;

}