.map-container{
    margin-top: 90px;
    width: 100%;
    height: 800px;
    background: #E5E5E5;
    display: flex;
    flex-direction: row;
    border: 4px solid black;

}



@media (max-width: 991px){
.map-container{
    height: 500px;
}
}

.input-container{
    background-color: #E07748;
    display: flex;
    flex-direction: row;
    height: 90px
}

.btn {
    text-align: center;
    background: #E07748;
    margin-top: 25px;
    padding-top: 0.1em;
    padding-left: 0.8em;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    width: 170px;
    height: 30px;
}

.btn:hover {
   border: 2px solid white;
    background: #E07748;
}

.text-on-input{
    color: #FFFFFF;
    font-family: "Al Nile", emoji;
    margin-bottom: 1px;
    text-align: center;
}


.origin{
    border-radius: 15px;
    border-color: #E07748;
    margin-left: 3px;
}

.destination{
    border-radius: 15px;
    border-color: #E07748;
    margin-left: 29px;
}



.buttonSearch{
    text-align: center;
    background: #E07748;
    margin-top: 25px;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 30px;
    margin-left: 35px;
}

.buttonSearch:disabled{
    background: gray;
    border: transparent;
}

.buttonSearch:hover {
    border: 2px solid white;
}
.btn-primary:focus {
    color: #fff;
    background-color: #E07748;
    border-color: #c1724b;
}

.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #c1724b;
    border-color: #E07748;
}