body{
    scroll-behavior: smooth;
    /*    background: red;*/
}

.header{
    text-align: center;
    height: 30px;
    width: 100%;

}



.buttonGroup {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
    margin-left: 55px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 15px;
    width: 80px;
    height: 30px;
}

.buttonGroup:hover {
    text-align: center;
    margin-top: 43px;
    margin-bottom: 12px;
    margin-left: 55px;
    color: black;
    border: 1px solid #E07748;
    border-radius: 15px;
    width: 80px;
    height: 30px;

}

.buttonGroup:active {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
    margin-left: 55px;
    background-color: #c1724b;
    color: #E5E5E5;
    border: none;
    border-radius: 15px;
    width: 80px;
    height: 30px;
}



.button-bg{
    background: none;
    color: black;
    height: 70px;
}

.btn{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 55px;
    margin-left: 55px;
    color: #C7C7C7;
    border: none;
    border-radius: 15px;
    width: 80px;
    height: 30px;
}


#navbar{
    background: none;
    color: black;

}

#topmodal {
    background: white;
    color: black;
}

#Modal{
    background-color: white;
    padding-left: 35px;
}
.logo{
    color: white;
    font-size: 35px;
    margin-left: 53px;
}
#CardP{
    color: black;
    justify-content: space-around;
    padding-left: 5px;
}



#cl-cart{
    border-radius: 15px;
    background: gray;
    border: none;
    width: 80px;
    height: 30px;
}

#text{
    text-align: center;
    color: #000000;
    font-size: 16px;
}

#me-auto{
    background: red;
}



#close{
    color: red;
    background: transparent;
    border: none;
}


#add{
    border-radius: 15px;
    background: gray;
    border: none;
    width: 80px;
    height: 30px;
}

#navbar{
    height: 61px;
}

.Desc{
    position: absolute;
    z-index:10;
    background: #F4F3E9;
    font-style: inherit;
}

#text-card-bottom{
    padding-top: 20px;
    text-align: center;
}

.del-button{
    background-color: #E07748;
    width: 400px;
    border: white;
    color: #E5E5E5;
}


#buy{
    background-color: #E07748;
    width: 400px;
    height: 80px;
    font-size: 22px;
    border: none;
    margin-top: 3px;
    color: #E5E5E5;
}

#logo-colapsed{
    color: transparent;
}

@media (max-width: 991px){
    .button-bg{
        position: fixed;
        width: 100%;
        height: 120px;
        background: #C1724B;
        z-index: 100;
        top: 0;
        margin-bottom: 45px;
    }
    .buttonGroup{
        color: #E5E5E5;
        display: flex;
        flex-direction: row;
        border: none;
        height: 8px;
        margin-top: 20px;
        margin-left: 120px;
    }

    .buttonGroup:hover{
        color: #E5E5E5;
        border: none;
        display: flex;
        flex-direction: row;
        height: 8px;
        margin-top: 20px;
        margin-left: 120px;
    }
    .buttonGroup:active {
        color: black;
        border: none;
        display: flex;
        flex-direction: row;
        height: 8px;
        margin-top: 20px;
        margin-left: 120px;
    }

    #CardP{
        margin-top: 112px;
    }
    #logo-colapsed{
        position: fixed;
        color: #E5E5E5;
        margin-left: 30px;
        margin-top: 1px;
        top: 56px;
        font-size: 30px;
        z-index: 100;
    }
    #br{
        position: fixed;
        color: black;
        margin-left: 30px;
        margin-top: 60px;
        font-size: 30px;
    }
}

@media (max-width: 574px){
    #CardP{
        justify-content: space-around;
        padding-left: 85px;
    }
}

@media (max-width: 453px){
    #CardP{
        justify-content: space-around;
        padding-left: 60px;

    }
}



#navtoggle{
    position: fixed;
    margin-right: 15px;
    background: transparent;
    z-index: 200;
    margin-left: 10px;
    border: transparent;
    font-size: 32px;
}

.navbar-light .navbar-toggler {
    background: transparent;
    color: transparent;
}

.navbar-light .navbar-toggler-icon  {

}

#br{

    color: black;
    margin-left: 30px;
    margin-top: 45px;
    font-size: 30px;
    z-index: 100;
}

#map{
    z-index: 100;
    font-size: 13px;
    height: 40px;
}