.row-container{
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-left: 40px;
}
.search-input{
    width: 150px;
}

.add-button{
    margin-left: 40px;
    width: 200px;
    background-color: red;
}

.del-button{
    background-color: #c7c7c7;
    width: 90px;

}
.input-search-container{
    margin-top: 80px;
}

.add-waypoint{
    margin-left: 20px;
}